.showBox{
    position: absolute;
    top: 30%;
    width: 70%;
    left: 15%;
    right: 15%;
    background-color: rgba(141,141,141,0.5);
    border-radius: 10px;
}
.showBox p:nth-child(1){
    padding-top: 15px;
    padding-bottom: 5px;
    transform: translate(-50%,0);
    margin-left: 50%;
    text-align: center;
    cursor: default;
    color: #e8e8e8;
}
.showBox p:nth-child(2){
    padding-top: 5px;
    padding-bottom: 15px;
    transform: translate(-50%,0);
    margin-left: 50%;
    text-align: center;
    cursor: default;
    color: #e8e8e8;
}
